
/* src/assets/main.css */
html, body {
     width: 100%;
     height: 100%;
     margin: 0 !important;
     /* Bắt buộc xóa lề */
     padding: 0 !important;
     overflow: hidden;
     /* Cấm thanh cuộn */
}

#app {
     width: 100%;
     height: 100%;
     display: flex;
     flex-direction: column;
}